<template>
    <v-row
            class="pa-4"
            justify="space-between"
    >
        <v-col cols="5">
            <vue-custom-scrollbar class="scroll-area" >
                <v-treeview
                        open-on-click
                        :items="items"
                        :load-children="fetchUsers"
                        item-key="path"
                        color="warning"
                        transition
                        activatable
                        :active.sync="active"
                        dense

                >
                    <template v-slot:prepend="{ item, open }">
                        <v-icon v-if="!item.file">
                            {{ open ? 'mdi-folder-open' : 'mdi-folder' }}
                        </v-icon>
                        <v-icon v-else>
                            {{ files[item.file] }}
                        </v-icon>
                    </template>
                </v-treeview>
            </vue-custom-scrollbar>
        </v-col>
        <v-divider vertical></v-divider>
        <v-col class="d-flex text-center">
            <v-scroll-y-transition mode="out-in">
                <div
                        v-if="!selected"
                        class="title grey--text text--lighten-1 font-weight-light"
                        style="align-self: center;"
                >
                    Select a File
                </div>
                <v-card
                        v-else
                        :key="selected.path"
                        class="pt-6 mx-auto"
                        flat

                >
                    <v-card-text>

                        <p class="display-1 text--primary">
                            {{ selected.name }}
                        </p>
                        <p>last modified date</p>
                        <div class="text--primary">
                            {{ selected.lastModified }}
                        </div>
                        <p>Size</p>
                        <div class="text--primary">
                            {{ humanFileSize(selected.size) }}
                        </div>
                    </v-card-text>
                    <v-card-actions

                    >
                        <v-btn

                                text
                                color="blue accent-4"
                                @click="downloadFile(selected)"
                        >
                            Download
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-scroll-y-transition>
        </v-col>
    </v-row>
</template>

<script lang="ts">
  import Vue from 'vue';
  import {
    DirApi,
    FileApi,
    FileListing,
    FileListingTypeEnum,
    GetUrlResponse,
    SimpleRequestPath
  } from '@/apiClient/apiClient';
  import Component from 'vue-class-component';
  import Axios from 'axios';

  @Component
  export default class Home extends Vue {
    private dirApi: DirApi;
    private fileApi: FileApi;
    home: string = '/';
    active: Array<object> = [];
    rootFiles: Array<object> = [];
    cacheFiles: Array<FileListing> = [];
    regExp: RegExp = new RegExp(/(?:\.([^.]+))?$/);
    files: object = {
      html: 'mdi-language-html5',
      js: 'mdi-nodejs',
      json: 'mdi-json',
      md: 'mdi-markdown',
      pdf: 'mdi-file-pdf',
      png: 'mdi-file-image',
      jpg: 'mdi-file-image',
      jpeg: 'mdi-file-image',
      zip: 'mdi-zip-box',
      tar: 'mdi-zip-box',
      bz2: 'mdi-zip-box',
      gz: 'mdi-zip-box',
      txt: 'mdi-file-document-outline',
      xls: 'mdi-file-excel',
      xlsx: 'mdi-file-excel',
      xml: 'mdi-xml',
      default: 'mdi-file-outline',
    };

    constructor() {
      super();
      this.dirApi = new DirApi();
      this.fileApi = new FileApi();
    }

    get items(): Array<object> {
      return [{name: 'Root', path: '', children: this.rootFiles}];
    }

    forceFileDownload(response: ArrayBuffer, item: FileListing) {
      const url = window.URL.createObjectURL(new Blob([response.data]));
      const link = document.createElement('a');
      link.href = url;
      link.setAttribute('download', item.name); //or any other extension
      document.body.appendChild(link);
      link.click();
    }


    downloadFile(item: FileListing) {
      this.fileApi.getSignedUrl(new SimpleRequestPath(item.path)).then(data => {
        let url = data.data as GetUrlResponse;
        Axios({
          method: 'get',
          url: url.url,
          responseType: 'arraybuffer'
        })
          .then(response => {

            this.forceFileDownload(response, item);

          })
          .catch(() => console.log('error occured'));

      });
    }

    get selected(): FileListing {
      if (this.active.length <= 0) {
        return undefined;
      } else {
        return <FileListing> this.cacheFiles.find(f => f.path === <String> this.active[0]);
      }
    }

    humanFileSize(bytes: number, si = false): string {
      let u, b = bytes, t = si ? 1000 : 1024;
      ['', si ? 'k' : 'K', ...'MGTPEZY'].find(x => (u = x, b /= t, b ** 2 < 1));
      return `${u ? (t * b).toFixed(1) : bytes} ${u}${!si && u ? 'i' : ''}B`;
    }

    fetchUsers(item: any) {
      return this.dirApi.listDir(new SimpleRequestPath(item.path)).then(value => {
        let listing = value.data as FileListing[];
        listing.forEach(file => {
          let result: any = {
            name: file.name,
            path: file.path
          };
          if (file.type === FileListingTypeEnum.FOLDER) {
            result.children = [];
          } else {
            let extension = this.regExp.exec(result.name)[1];
            if (extension) {
              result.file = extension;
            } else {
              result.file = 'default';
            }
            this.cacheFiles.push(file);
          }
          item.children.push(result);
        });
      });
    }
  }
</script>

